.section {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.banner {
  min-width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 52px;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: var(--color-heading);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 48px;

    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 140%;
      text-align: justify;
      color: var(--color-heading);
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 32px;

      p {
        font-size: 18px;
        line-height: 140%;
        text-align: justify;
        color: var(--color-body);
      }
    }
  }
}
